# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=your-password-here

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=your-password-here

# Version of the Elastic Stack
STACK_VERSION=use-desired-version-here

# Set the cluster name
CLUSTER_NAME=your-cluster-name

# Set to 'basic'
LICENSE=basic

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200

# Port to expose Kibana to the host
KIBANA_PORT=5601

# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=1073741824
KB_MEM_LIMIT=1073741824
LS_MEM_LIMIT=1073741824
